<h1>All Containers</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @containers.each do |container| %>
      <tr>
        <td><%= container["Name"] %></td>
        <td><%= container["Image"] %></td>
        <td><%= container["State"] %></td>
        <td><%= link_to 'Start', "/container/start/#{container['Id']}" %></td>
        <td><%= link_to 'Stop', "/container/stop/#{container['Id']}" %></td>
        <td><%= link_to 'Delete', container_path(container["Name"]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>