<!DOCTYPE html>
<html>
  <head>
    <title>DockerapiDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= link_to "All images", image_index_path %>
  <%= link_to "Pull image", new_image_path %>
  <%= link_to "All containers", container_index_path %>
  <%= link_to "New container", new_container_path %>
    <%= yield %>
  </body>
</html>
